/* 회원가입폼에 대한 스타일시트 */
#myinfo { width:300px; margin: 100px auto }
#myinfo div { margin-bottom: 10px }
#myinfo label { display: inline-block; width: 110px;
              font-weight: bold; text-align: right }
button:first-child { margin-left: 115px }
